@use 'variables' as v;

footer {
    background-color: v.$Hcolor;
}

.footer-block {
    padding: 34px 160px;
}

.firtsfooter-block {
    display: flex;
    gap: 40px;
    align-items: center;
    border-bottom: 1px solid #b1b1b1;
    padding-bottom: 34px;
}

.firtsfooter-block h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #f6f7f8;
}

.firtsfooter-block button {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    border-radius: 6px;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 14px;
    background-color: transparent; /* Прозрачный фон */ /* Видимая граница */
    cursor: pointer;
    transition: 0.3s;
}

.firtsfooter-block button:hover {
    background-color: #fff;
    color: black;
}


.linksfooter-container {
    display: flex;
    gap: 20px;
    margin-top: 24px;
}

.Your-Account {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}


.Discover {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.Meetup {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.linksfooter-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #f6f7f8;
}

.linksfooter-container a {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #c5c4c4;
    text-decoration: none;
    transition: 0.3s;
}

.linksfooter-container a:hover {
    color: #efefef;
}

.Followus-container {
    margin-top: 24px;
}

.Followus-container h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #f6f7f8;
}

.Followusicons-block {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Followus-icons {
    display: flex;
    gap: 20px;
}

.Followus-icons img {
    width: 25px;
    height: 25px;
}

.footer-bottom {
    display: flex;
    gap: 20px;
    margin-top: 32px;
}

.footer-bottom p {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #c5c4c4;
}

.footer-bottom p:first-child {
    color: #fff;
}






