// Переменные (цвета, шрифты и т.д.)
$font-family: 'Roboto', sans-serif;

// цвета

$orange-Button-Color: #F65858;
$pinkButtonColor: #e32359;
$blueButtonColor: #00798a;
$Hcolor: #212121;

// Рармеры шрифтов

$border-radius: 8px;

$H1: 42px;
$H2: 28px;